<%= form_with model: event_attendee do |form| %>
  <div>
    <%= form.label :attended_event_id %><br>
    <%= form.text_field :attended_event_id %>
    <% event_attendee.errors.full_messages_for(:attended_event_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :attendee_id %><br>
    <%= form.text_area :attendee_id %><br>
    <% event_attendee.errors.full_messages_for(:attendee_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
